nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.okleft{
  background: linear-gradient(90deg,rgba(223, 216, 216, 0.7)0%,rgb(0, 0, 0,10%)56%,rgb(0, 0, 0,3%)100%);
  z-index: -1;
  transition:all 1.2s;
}

.goodline{
  height: 5px;
 background: rgb(0, 0, 0,50%);
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding-left:60px;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
}
nav ul li a{
  text-decoration: none;
  font-size: 1.3rem;
  color: #BCBCBA;
  font-weight:500;
}
nav ul li a:hover{
  color: white;
}
nav .menu-bar{
  display: none;
}
.container{
  margin: 0;
  padding: 0 10%;
  background-color: #222222;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.logo{
  width: 180px;
  height: 80px;
}
.login{
  padding-left: 10px;
  color: #CFCF26;
  font-size: 1.5rem;
}
.content{
  font-family: 'Roboto', sans-serif;
  margin: 100px 10% 0 10%;
}
.blog-content{
  display:flex;
  justify-content: space-between;

}
.blog1{
  width: 40%;
}
.blog-content p{
    font-size: 1.2rem;
}
.blog-content img{
  width: 95px;
  height: 95px;
  margin: 10px 0;
}
.blog-box{
  display: flex;
  transition: transform 0.3s;
  cursor: pointer;
}
.blog-box:hover{
  transform: scale(1.03);
}
.blog-box p{
  padding-left: 20px;
}
.blog-box h3{
  padding-left: 20px;
}
.box-header{
  display: flex;
  justify-content: space-between;
}
.box-header .search{
  justify-content: flex-end;
  padding-top: 30px;
}
.box-header .search input{
  width: 350px;
  height: 30px;
  border: none;
  background-color: #D9D9D9;
  border-radius: 5px;
}
.box-header .search i{
  padding-left: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.blog2{
  width: 55%;
  background-color: #E8E8E8;
}
.singlle-blog{
  width: 100%;
}

.blog2 img{
  width: 100%;
  height: 400px;
  margin-top: 0;
}
.blog2 .bg{
  padding: 10px 20px;
}
.bottom-contact{
  text-align: center;
  margin:100px 0 0;
}
.bottom-contact ul li{
  list-style-type: none;
  display: inline-block;
  padding:10px;

}
.box-header a{
  text-decoration: none;
  color: black;
}
.comments{
  height: 30px;
  width: 100%;
  font-size: 2rem;
  background-color: white;
  padding: 10px 0;
  /* display: flex; */
  /* justify-content: space-around; */
}

.commentSection .imgComment{
  width: 10%;
  height: 10%;
}
.commentSection{
  display: flex;
  margin-bottom: 10px;
  margin-left: 10%;
}
.textComment{
  margin-left: 10%;
}
.comments i{
  margin-right: 10px;
  margin-left: 18px;
  cursor: pointer;
}

.likes{
  transition: 0.5s;
  display: none;
  transition: 1s;
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  /* position: absolute; */
  /* background: linear-gradient(90deg,rgb(255, 255, 255,85%)0%,rgb(255, 255, 255,0%)100%); */

}
#commentnbr{
  font-size: 1rem;
  opacity: 0.68;
}
.likes ul{
  list-style-type: none;
}
.likes ul li{
  padding: 10px;
}
.likes textarea{
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 70%;
}
.likes .post{
  border-radius: 8px;
  height: 30px;
  margin-left: 70%;
  width: 100px;
  background-color: #CFCF26;
  border: none;
  font-weight: 800;
    margin-top: 30px;
}
.likes.hide{
  display: block;
}
.likes .post:hover{
  color: white;
  background-color: black;
}
.likes .post{
  transition: 0.5s;
}
.blog1 hr{
  border: dotted grey 5px;
  border-bottom: none;
  width: 50%;
  margin:4px auto;
  opacity: 0.9;
}
hr{
  margin:10px 0;
}
/* ============================================================================================================= */
@media screen and (max-width:1320px){
  nav ul li{
    padding-left:30px;
    /* font-family: 'Josefin Sans', sans-serif; */
  }
  nav ul{
    justify-content: flex-end;
    width: 100%;
  }
  .login{
    padding-left: 0px;
  }
}
/* ================================================================================================================== */

@media screen and (max-width:1000px){

  nav{
    justify-content: space-between;
  }
  nav ul li{
    display: block;
    padding-left:0;
  }
  .nav-bar ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: #BCBCBA;
    font-weight:500;
    padding-bottom: 20px;
  }
  .nav-bar ul li{
    padding-bottom: 50px;
  }
  nav ul li a:hover{
    color: white;
  }
  nav .menu-bar{
    display: block;
    font-size: 5rem;
    color: white;
    cursor: pointer;
  }
  .logo{
    width: 200px;
    height: 100px;
  }
  .nav-bar{
    position: absolute;
    height: 0;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    background: #222222;
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
  }
  .nav-bar.active{
    height: 800px;

  }
  .nav-bar.active ul{
    opacity: 1;
  }
  .nav-bar ul{
    display: block;
    list-style-type: none;
    font-family: 'Roboto',sans-serif;
    width: fit-content;
    margin: 100px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;

  }
  .blog-content{
    display:flex;
    flex-direction: column;

  }
  .blog1{
    width: 100%;
  }
  .blog2{
    width: 100%;
  }
  .box-header .search input{
    width: 300px;
    height: 50px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 5px;
  }
  .box-header .search{
    margin-top: 30px;
  }
  .content{
    font-family: 'Roboto', sans-serif;
    margin: 100px 7% 0 7%;
    font-size: 2rem;

  }
  .blog1 p{
      font-size: 1.5rem;
  }
  .blog1 img{
    width: 250px;
    height: 250px;
    margin: 10px 50px 10px 0;
  }
}
