/* body{
  background-color: #222222;
} */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding-left:60px;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
}
nav .menu-bar{
  display: none;
}
nav ul li a{
  text-decoration: none;
  font-size: 1.3rem;
  color: #BCBCBA;
  font-weight:500;
}
nav ul li a:hover{
  color: white;
}
.container{
  margin: 0;
  padding: 0 10%;
  background-color: #222222;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.logo{
  width: 180px;
  height: 80px;
}
.login{
  padding-left: 10px;
  color: #CFCF26;
  font-size: 1.5rem;
}
.content {
  display: flex;
  margin: 180px 70px 0;
  justify-content: center;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;

}
.content input{
  width: 100%;
  height: 30px;
  border: none;
  background-color: #D9D9D9;

}
.content .box-email{
  width: 100%;
}
.content ul li{
  list-style-type: none;
}
.content span{
  color: red;
}
.content-contact{
  font-family: 'Roboto', sans-serif;
  padding: 30px 0;
}
.content-contact ul li{
  padding-top: 10px;
}
.content-contact i{
  padding-right: 10px;
}
.contact-box{
  display: flex;
  width: 100%;
}
.box2{
  margin-left: 20px;
  width: 100%;
}
.box1{
  width: 100%;
}
textarea{
  border: none;
  background-color: #D9D9D9;
  width: 100%;
}
button{
  border: none;
  background-color: #CFCF26;
  width: 120px;
  height: 30px;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 50px;

}

.bottom-contact{
  text-align: center;
  margin:100px 0 0;
}
.bottom-contact ul li{
  list-style-type: none;
  display: inline-block;
  padding:10px;

}
.content-box input{
  width: 100%;
}
.update:hover{
  background-color: #222222;
  color: #BCBCBA;
}
/* ============================================================================================================= */
@media screen and (max-width:1320px){
  nav ul li{
    padding-left:30px;
    /* font-family: 'Josefin Sans', sans-serif; */
  }
  nav ul{
    justify-content: flex-end;
    width: 100%;
  }
  .login{
    padding-left: 0px;
  }
}
/* ================================================================================================================== */

@media screen and (max-width:1000px){

  nav{
    justify-content: space-between;
  }
  nav ul li{
    display: block;
    padding-left:0;
  }
  .nav-bar ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: #BCBCBA;
    font-weight:500;
    padding-bottom: 20px;
  }
  .nav-bar ul li{
    padding-bottom: 50px;
  }
  nav ul li a:hover{
    color: white;
  }
  nav .menu-bar{
    display: block;
    font-size: 5rem;
    color: white;
    cursor: pointer;
  }
  .logo{
    width: 200px;
    height: 100px;
  }
  .nav-bar{
    position: absolute;
    height: 0;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    background: #222222;
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
  }
  .nav-bar.active{
    height: 800px;

  }
  .nav-bar.active ul{
    opacity: 1;
  }
  .nav-bar ul{
    display: block;
    list-style-type: none;
    font-family: 'Roboto',sans-serif;
    width: fit-content;
    margin: 100px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;

  }
  .content {
    flex-direction: column;
    margin: 100px 40px 0;
}
.content p{
  font-size: 1.5rem;
}
.contact-box{
  flex-direction: column;
  font-size: 1.5rem;
}
.content h4{
  font-size: 1.5rem;
}
.content ul li{
  font-size: 1.5rem;
}
.box2{
  margin-left: 0;

}
.content-box input{
  height: 60px;
  font-size: 1.6rem;
}
.content-box textarea{
  rows: 8;
}
.content-contact{
  text-align: center;
}
.b1{
  font-size: 1.5rem;
}
.content-contact ul{
  text-align:left;
}
.bottom-contact{
  font-size: 2rem;
}
.update{
  width: 170px;
  height: 55px;
  font-size: 1.8rem;
}
}
