body{
  margin: 0;
  height: 100%;
}
.container ul li a:hover{
  color: white;
}
.container{
  margin: 0;
  padding: 10px ;
  background-color: #222222;
  width: 250px;
  text-align: center;
  position: absolute;
  height: 100%;

}
.logo{
  width: 180px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 1px;
  z-index: 1;
}
.login{
  padding-left: 10px;
  color: #CFCF26;
  font-size: 1.5rem;
}
.bottom-contact{
  text-align: center;
  margin:100px 0 0;
}
.bottom-contact ul li{
  list-style-type: none;
  display: inline-block;
  padding:10px;

}
.content{
  display: flex;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
.cont{
  margin:30px 50px;
  width: 70%;
  margin-left: 320px;
  position: relative;
}
.container ul li{
  padding: 10px;
  font-size: 1.2rem;
  list-style-type: none;
  color: #BCBCBA;
  display: block;
}
.container ul{
  padding-left: 0;
  text-align: left;
  margin-top: 120px;
}
.container ul li a{
  text-decoration: none;
  font-size: 1.3rem;
  color: #BCBCBA;
  font-weight:500;
}
.container ul li hr{
  margin-bottom: 0;
}
.container img{
  margin-bottom: 40px;
}
.subs{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.total-subs{
  justify-content: flex-end;
  background-color: #C6C637;
  width: 35%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0 15px;
}
.total-blogs{
  background-color: #BAB6B6;
  width: 35%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0 15px;
}
.cont input{
  background-color: #D9D9D9;
  border: none;
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.cont textarea{
  background-color: #D9D9D9;
  border: none;
  border-radius: 10px;
  width: 50%;
}
.picked{
display: none;
}
.alert1{
  color: white;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  background-color: #5F8D4E;
  position: fixed;
  top: 0;
  left: 45%;
  transition: 0.7s;
  display: none;
}
.pic1{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.cont .photo{
  width: 50%;
  border-radius: 10px;
}
.cont .photo::-webkit-file-upload-button{
  border-radius: 10px;
  border: none;
  padding: 8px;
  background-color: #61876E;
  color: white;
}
.cont .photo::-webkit-file-upload-button:hover{

  background-color: #3C6255;
}
.cont .choose{
  border-radius: 8px;
  border-width: 1px;
  height: 30px;
}
.cont .post{
  border-radius: 8px;
  height: 30px;
  margin-left: 40%;
  width: 100px;
  background-color: #CFCF26;
  border: none;
  font-weight: 800;
    margin-top: 30px;
}
.cont .post:hover{
  background-color: #222222;
  color: #BCBCBA;

}
.cont .post2{
  border-radius: 8px;
  height: 30px;
  margin-left: 20px;
  width: 100px;
  background-color: #CFCF26;
  border: none;
  font-weight: 800;
    margin-top: 30px;
}
.cont .post2:hover{
  background-color: #222222;
  color: #BCBCBA;

}
.blog-box{
  display: flex;
  width: 70%;
  transition: transform 0.3s;
}
.blog-box:hover{
  transform: scale(1.03);
}
.blog-box p{
  padding-left: 20px;
  font-size: 1.2rem;
}
.blog-box img{
  width: 80px;
  height: 80px;
  margin: 10px 0;
}
.list{
  display: flex;
  justify-content: space-between;
}
.cont .update{
  border-radius: 8px;
  width: 100px;
  height: 30px;
  background-color: #CFCF26;
  border: none;
  font-weight: 800;
  margin-top: 60px;
}
.cont .update:hover{
  background-color: #222222;
  color: #BCBCBA;

}
.list-subs{
  display: flex;
  justify-content: space-between;
}
.list-subs .update{
  margin-top: 20px;
}
.container .logout{
  color: #CFCF26;
}
.top-top .menu-bar{
  display: none;
}
/* ================================================================================================================== */

@media screen and (max-width:1000px){
  .top-top .menu-bar{
    position: absolute;
    display: block;
    right: 20px;
    top: 25px;
    font-size: 5rem;
    color: white;
    cursor: pointer;
  }

  .logo{
    width: 200px;
    height: 100px;
  }

  .top-top{
    height: 120px;
    width: 100%;
    background-color: #222222;
  }
  .content .container{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    opacity: 0;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
  }
  .content .container.active{
    width: 60%;
    opacity: 1;
  }
  .content .container ul{
    padding-top: 100px;
  }
  .content .container ul a{
    font-size: 2rem;
  }
  .content .container ul li{
    padding: 20px 0;
  }
  .content .cont{
    z-index: -1;
    width: 100%;
  }
  .total-subs{
    flex-wrap:wrap;
  }
  .total-blogs{
    flex-wrap:wrap;
  }
  .list {
    flex-wrap: wrap;
}
.list p{
    font-size: 1.5rem;
}
.list img{
  width: 250px;
  height: 250px;
  margin: 10px 50px 10px 0;
}
.list .btns{
  display: flex;
  flex-direction: column;
}
.list .btns .update{
  width: 170px;
  height: 55px;
  font-size: 1.8rem;
}
.cont input{
  width: 100%;
  height: 70px;
  font-size: 1.5rem;

}
.dive{
  margin-left: 20px;
}
.cont{
    margin-left: 10%;
}
.cont .photo{
  width: 100%;
  height: 70px;
  font-size: 1.5rem;
}
#blogform{
  font-size: 1.5rem;
}
.cont #desc{
  font-size: 1.5rem;
}
.total-blogs{
  font-size: 1.5rem;
  width: 40%;
}
.total-subs{
  font-size: 1.5rem;
  width: 50%;
}
.list-subs h4{
 font-size: 1.5rem;
}
.list-subs .update{
  width: 170px;
  height: 55px;
  font-size:1.8rem;
}
#blogform .post{
  width: 170px;
  height: 55px;
  font-size:1.8rem;
}
#blogform .post2{
  width: 170px;
  height: 55px;
  font-size:1.8rem;
}
.bottom-contact{
  font-size: 2rem;
}
}
