nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding-left:60px;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
}
nav ul li a{
  text-decoration: none;
  font-size: 1.3rem;
  color: #BCBCBA;
  font-weight:500;
}
nav ul li a:hover{
  color: white;
}
.container{
  margin: 0;
  padding: 0 10%;
  background-color: #222222;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.logo{
  width: 180px;
  height: 80px;
}
.login{
  padding-left: 10px;
  color: #CFCF26;
  font-size: 1.5rem;
}
.content{
  font-family: 'Roboto', sans-serif;
  margin: 150px 10% 0 10%;
  font-size: 1rem;
}
.projects{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;

}
.box{
  width: 27%;
  background-color: #E8E8E8;
    position: relative;
    transition: transform 0.5s;
}
.shadow:before{
  content: '';
  position: absolute;
  bottom: -5%;
  left: 2%;
  width: 96%;
  height: 90%;
  background: rgba(0,0,0,0.5);
  z-index: -1;
  filter: blur(10px);
}
.box img{
  width: 100%;
  height: 200px;
  margin: 0;
}
.box .bg{
  padding: 5px;
}
hr{
  margin-bottom: 20px;
}
.bottom-contact{
  text-align: center;
  margin:100px 0 0;
}
.bottom-contact ul li{
  list-style-type: none;
  display: inline-block;
  padding:10px;

}
.box:hover{
  transform: scale(1.1);
  z-index: 1;
  background: rgba(1,1,0,0);
}
