body{
  background-color: #222222;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding-left:60px;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
}
nav ul li a{
  text-decoration: none;
  font-size: 1.3rem;
  color: #BCBCBA;
  font-weight:500;
}
.container{
  margin: 0 10% 0 10%;
}
.logo{
  width: 180px;
  height: 80px;
}
.login{
  padding-left: 10px;
  color: #CFCF26;
  font-size: 1.5rem;
}
.icons ul li{
  list-style-type: none;
  display: inline-block;
  padding:10px;
  color: #BCBCBA;
}
.one-content hr{
  width: 160px;
  margin-left: 0;

}
.one-content h1{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.2rem;
  font-weight:900;
}
.one-content p{
  color: #9A9A98;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}
.one-content {
  position: relative;
  display: flex;
  margin: 25px 10% 0 15%;
}
.chris {
  width: 430px;
  height: 600px;
  border-radius: 10%;
  position: absolute;
  left: 525px;
  object-fit: cover;
  z-index: -1;
  opacity: 0.8;
}
.hello{
  padding-top: 100px;
}
.fullstack{
  padding-bottom: 50px
}
.brands {
  text-align: center;
}
.brands hr{
  width: 160px;
  transform: rotate(90deg);
  margin: 150px auto;
}
.brands ul li{
  list-style-type: none;
  display: inline-block;
  color: #BCBCBA;


}
.brands p{
  color: #9A9A98;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}
.about-photo{
  display: flex;
  margin: 0 0 0 150px;
  position: relative;
}
.chris2 {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 35px;
  left: 0;
}
.about-content {
  background-color: white;
  border-radius: 120px 120px 0 0;
  padding-top: 50px;
  width: 100%;
  height: 100%;
}
.about-content hr{
  width: 70%;
}
.about-name{
  color: #BCBCBA;
  margin:220px 0 10px 450px;
}
.personal-info{
  display: flex;
  margin:0 16% 0 16%;
  padding: 50px 0 40px 0;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}


.about-bottom{
text-align: center;
padding-top: 50px;
font-family: 'Roboto', sans-serif;
}
.about-bottom ul li{
  list-style-type: none;
  display: inline-block;
  padding:10px;
}
.about-bottom ul{
  padding-top: 30px;
}
.about-bottom h2{
  font-size: 0.8rem;
}
